@import "variables";

body {
  @include font;
  @include screen;
  .App {
    .main-content {
      .tab-navigation {
        display: flex;
        align-items: center;
      }
      .tab-content {
        .document-scanner {
            display: flex;
            align-items: center;
        }
      }
    }
  }
}
