@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

$family: "SF Pro Display", sans-serif;
$size: 20px;
$mobilesize: 14px;

@mixin font {
  font-family: $family;
  font-size: $size;
  line-height: normal;
}

@mixin mobile-font {
  font-family: $family;
  font-size: $mobilesize;
  line-height: normal;
}

@mixin screen {
  height: 100vh;
}

$blue: #0381ff;
$lightblue: #f1f8ffe3;
$black: #000000;
$white: #ffffff;
$darkblue: #0b172a;
$darkgray: #f5f5f7;
$gray: #fbfcfc;
$border: #cccccc;

@media screen and (min-width: 1200px) {
  br {
    &.large {
      display: block;
    }
    &.medium {
      display: none;
    }
    &.small {
      display: none;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  br {
    &.large {
      display: block;
    }
    &.medium {
      display: none;
    }
    &.small {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  br {
    &.large {
      display: none;
    }
    &.medium {
      display: block;
    }
    &.small {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  br {
    &.large {
      display: none;
    }
    &.medium {
      display: none;
    }
    &.small {
      display: block;
    }
  }
}
